<div class="container" style="background-color:white; color:black;">
  <h2>Table</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>Hostname</th>
          <th>IP Address</th>
          <th>VM</th>
          <th>OS</th>
          <th>Description</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in ipaddressData">
          <td>{{ x.hostname }}</td>
          <td>{{ x.ipv4 }}</td>
          <td>{{ x.VM }}</td>
          <td>{{ x.OS }}</td>
          <td>{{ x.description }}</td>
          <td>
            <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
            <button type="button" class="btn btn-lg" ng-click="deleteAddress(x.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newAddressModal">New IP Address</button>
  <button type="button" class="btn btn-default" ng-click="openNew()">New Address</button>
  <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

<!--modal-->
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
