<div class="container-fluid">
    <div class="row">
        <div class="login-card">
            <div class="card card-pad mdc-bg-grey-900 mdc-text-grey-50">
                <div class="card-body">
                    <div class="row text-center">
                        <img class="img-responsive login-logo" src="images/bacon.jpg" alt="Bin/Bash" />
                    </div>
                    <section class="row" id="loginForm">
                        <div class="col-sm-12">
                            <div class="card card-white">
                                <div class="card-heading">
                                    <div class="row text-center">
                                        <h4>User Login</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!--TODO check for form validation-->
                                    <div class="form-group">
                                        <span class="label label-default control-label">Email</span>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <span class="label label-default control-label">Password</span>
                                        <input type="text" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="Log in" class="btn" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>