<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card card-pad">
            <div class="card-heading">
                <h2>Blog Post Title</h2>
            </div>
            <div class="col-sm-12">
                <text-angular ng-model="newPostHTML"></text-angular>

            </div>
        </div>

        <div style="background-color:white;">
            {{newPostHTML}}
        </div>
        <div>
            <button type="button" class="btn" ng-click="openNew()">Save Post</button>
        </div>
    </div>
</div>