<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="panel panel-pad">
            <div class="panel-heading">
                <h2>New Blog Post</h2>
            </div>
            <div class="topbottomPadding">
                <input type="text" class="form-control" placeholder="Title" data-ng-model="newPost.title" required>
                <input type="text" class="form-control" placeholder="Description" data-ng-model="newPost.description" required>
                <br>
                <label>HTML Text</label>
                
                <trix-editor angular-trix data-ng-model="newPost.post"></trix-editor>
                <br>
                <button type="button" class="btn btn-primary" ng-click="makePost()">Save Post</button>
            </div>
        </div>
        
        <div style="background-color:white;">
            {{newPost.post}}
        </div>
        <div>
            
        </div>
    </div>
</div>