<div class="card">
    <div class="card-body">
        <h2>BLAH</h2>
        <h3>BLAH BLAH BLAH</h3>
        <p>
            Welcome to bin/bash, your one stop spot for your nerdy needs. We specialize in the sale of novelty and other nerdy goods.
            Currently we are only a team of five but we are focused on delivering the best nerdy goods. We are proud nerds
            and geeks ourselves so we don't just talk the talk, but we walk the walk.
        </p>
    </div>
</div>
<div class="container-fluid margin-bottom-15">

        <div class="col-sm-6">
            <div class="card card-pad">
                <div class="card-heading">
                    <h4>Georgian College<span class="pull-right">2013-2014</span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="col-md-4">
                        <img src="images/bacon.jpg" class="img img-responsive img-thumbnail" />
                    </div>
                    <p class="col-md-8">
                        Stephen Wiggins is the Boss Bacon. He calls all the shots inside the office. Why is he Boss Bacon? Because he's the <strong>BOSS</strong>                        and everything is better with Bacon. Stephen Wiggins is a master at the server side of web applications
                        and rules his area of experties like a Boss. He handles the day to day operations as well as helps
                        keep this site running. His work allows you to place orders, and see what it is we have in stock.
                        He is the one that ultimately makes the decision of what we sell and for how much. Make no mistake,
                        Wiggins may be the <strong>BOSS</strong> Bacon but when the chips are down and things need to get
                        done, you'll find him with the rest of the team down in the trenches.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-pad">
                <div class="card-heading">
                    <h4>CFB Borden<span class="pull-right">2014</span></h4>
                </div>
                <div class="card-body ">
                    <div class="col-md-4">
                        <img src="images/bacon.jpg" class="img img-responsive img-thumbnail" />
                    </div>
                    <p class="col-md-8">
                        Stephen Wilson aka Jensen is a security guru. Dispite his skills, he has said that, <strong>&quot;<i>I never asked for this.</i>&quot;</strong>                        He keeps all of your data safe and secure. Pro tip, do not try and test him, bad things tend to happen.
                        Wilson is a veratble one man army in data security. He is in charge of the security on this site
                        and some belive he has helped wire up the security in the office. Wilson takes the security game
                        to new heights and is always on top of the ever changing environments. Calm cool and collected Wilson
                        is every bit as determined as Jensen ever was. Even without the cybernetic implants and black coat
                        Wilson is just as awesome.
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm visible-md visible-lg"></div>
        <div class="col-sm-6">
            <div class="card card-pad">
                <div class="card-heading">
                    <h4>GeddaSoft<span class="pull-right">2015-Present</span></h4>
                </div>
                <div class="card-body ">
                    <div class="col-md-4">
                        <img src="images/bacon.jpg" class="img img-responsive img-thumbnail" />
                    </div>
                    <p class="col-md-8">
                        Stephen Wilson aka Jensen is a security guru. Dispite his skills, he has said that, <strong>&quot;<i>I never asked for this.</i>&quot;</strong>                        He keeps all of your data safe and secure. Pro tip, do not try and test him, bad things tend to happen.
                        Wilson is a veratble one man army in data security. He is in charge of the security on this site
                        and some belive he has helped wire up the security in the office. Wilson takes the security game
                        to new heights and is always on top of the ever changing environments. Calm cool and collected Wilson
                        is every bit as determined as Jensen ever was. Even without the cybernetic implants and black coat
                        Wilson is just as awesome.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>