<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card card-pad">
            <div class="card-heading">
                <h2>Objective</h2>
            </div>
            <div class="col-sm-12 text-center">
                <h3>Build my skills as a computer programmer to strengthen my knowledge in the computer industry.</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-heading">
                <h2>Technical Skills</h2>
            </div>
            <div class="col-md-12">
                <ul class="topbottomPadding">
                    <li>Knowledge in web languages such as HTML5, CSS3, JavaScript, MySQL, NodeJS, WordPress, ASP.NET.</li>
                    <li>Other language experience in Java, Visual Basic, Python, Arduino, COBOL, and C#</li>
                    <li>Advanced knowledge of Windows, Mac OS X, iOS, Android, and various Linux platforms including Ubuntu, Fedora and Arch Linux.</li>
                    <li>Experience in PC troubleshooting with both PC and Mac hardware and software situations</li>
                    <li>Basic computer graphics design using CorelDraw, Adobe Photoshop, and Illustrator</li>
                    <li>Experience in networking and virtualization with Windows and Linux based home servers</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-heading">
                <h2>Projects</h2>
            </div>
            <div class="col-sm-6">
                <h3>Georgian College Weather Station</h3>
                <hr>
                <p>
                    Programmed a web interface using PHP and MySQL for an Arduino powered weather station at Georgian College
                </p>
                <div>
                    <img src="images/weatherStation1024x768.png" class="img img-responsive img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6">
                <h3>NES PC</h3>
                <hr>
                <p>
                    Built a home theatre PC out of an old Nintendo system using a thin-mITX motherboard and an Intel Core i3 CPU.
                </p>
                <div>
                    <img src="images/NES_PC.jpg" class="img img-responsive img-thumbnail" />
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Dog Tool</h3>
                <hr>
                <p class="col-md-12">
                    Acted as a server admin on a school project that spanned the whole third year at Georgian. Dog Tool is a management tool
                    for a client.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Virtual Reality</h3>
                <hr>
                <p class="col-md-12">
                    Worked with the Unity game engine and the Oculus Rift at Borden. Contributed to an existing simulation project to be adapted
                    to VR.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-heading">
                <h2>Experience</h2>
            </div>
            <div class="col-sm-6">
                <h3>Geddasoft</h3>
                <hr>
                <ul class="no-bullets">
                    <li>November 2015 - March 2016</li>
                    <li>Barrie, ON</li>
                    <li>Post-grad Internship</li>
                    <li>Junior Programmer</li>
                </ul>
                <ul class="no-bullets">
                    <li>PHP, MySQL, HTML/CSS, Smarty PHP framework</li>
                    <li>Eclipse, SVN</li>
                </ul>
                <p>
                    Worked on new front and back end features in a web based real estate platform. This included adding columns to the database,
                    dealing with the I/O to and from the database, and then allowing a user to view and update the data.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>CFB Borden</h3>
                <hr>
                <ul class="no-bullets">
                    <li>September 2014 - December 2014</li>
                    <li>Borden, ON</li>
                    <li>3rd Co-op Placement</li>
                    <li>Learning Technologies Developer</li>
                </ul>
                <ul class="no-bullets">
                    <li>Unity 4 Game Engine, C#, Oculus Rift DK1</li>
                    <li>MonoDevelop, Justinmind</li>
                </ul>
                <ul>
                    <li>Built wireframes for a future iOS app</li>
                    <li>Wrote tutorials on the usage of VPN connections and educational tools</li>
                    <li>Worked on a VR project using the Oculus Rift Dev Kit 1 and the Unity 4 graphics engine</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3>Georgian College</h3>
                <hr>
                <ul class="no-bullets">
                    <li>May 2013 - August 2013</li>
                    <li>November 2013 - April 2014</li>
                    <li>Barrie, ON</li>
                    <li>1st and 2nd Co-op Placements, Part Time Contract</li>
                    <li>Web Developer</li>
                </ul>
                <ul class="no-bullets">
                    <li>LAMP Stack, Arduino, Wordpress</li>
                    <li>Netbeans, Arduino IDE</li>
                </ul>
                <ul>
                    <li>Built a web interface for a weather station system based on an Arduino</li>
                    <li>Also worked on updating the software on the Arduino itself to add new features and data points</li>
                    <li>Participated in meetings with the City of Barrie on a collaboration project with Georgian College</li>
                    <li>Worked on three different WordPress websites for various clients in the Simcoe County area</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-heading">
                <h2>Education</h2>
            </div>
            <div class="col-sm-6">
                <h3>Georgian College</h3>
                <hr>
                <ul class="no-bullets">
                    <li>September 2012 - August 2015</li>
                    <li>Computer Programmer Analyst - Advanced Diploma (3 years)</li>
                    <li>Deans list Summer 2015</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3>Bear Creek Secondary School</h3>
                <hr>
                <p>Honour Role - 2010, 2011, 2012</p>
            </div>

        </div>
    </div>
</div>