<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card card-pad">
            <div class="card-heading">
                <h2>{{snippet.title}}</h2>
            </div>
            <div>
                <div class="editor" ui-ace="{ mode:snippet.language, setShowPrintMargin:'false'}" ng-model="snippet.code"></div>

                <button type="button" class="btn pull-left" ng-click="updateSnippet()">Save Snippet</button>
                <button type="button" class="btn pull-right" ng-click="deleteSnippet()">Delete Snippet</button>
            </div>
        </div>
    </div>
</div>