<div class="container-fluid margin-bottom-15">
    <div class="col-sm-12">
        <div class="card card-pad">
            <div class="card-heading">
                <h2>{{fullSnippet.title}}</h2>
            </div>
            <div>
                <div class="editor" ui-ace="{  showGutter: 'true', theme: 'chrome', onLoad: aceLoaded, onChange: aceChanged }" ng-model="fullSnippet.code"></div>

                <button type="button" class="btn" ng-data-click="editSnippet()">Save Post</button>
            </div>
        </div>
    </div>
</div>