<h1>Snippet List</h1>
<div ng-repeat="x in allSnippets">
    <div class="container-fluid margin-bottom-5">
        <div class="col-sm-12">
            <div class="panel panel-pad panel-body">
                <div class="panel-heading">
                    <h2>{{x.title}}</h2>
                </div>
                <div class="col-lg-12">
                    <span>{{x.createdAt | date:"'Created at: 'LLLL M, yyyy 'at' h:mma"}} | {{x.updatedAt | date:"'Updated at: 'LLLL M, yyyy 'at' h:mma"}} | Language: {{x.language}}</span>
                    <hr>
                    <p>{{x.description}}</p>
                    <hr>
                    <a ui-sref="user.snippet({ id: x.id })">View Snippet</a>
                </div>
            </div>
        </div>
    </div>
</div>