//colors
$red: #ff0000;
$black: #000;
$color_limed_spruce_approx: #374755;
$color_log_cabin_approx: #212121;
$color_gallery_approx: #eee;
$alabaster: #fafafa;
$color_gossamer_approx: #007796;
$white_84: rgba(255, 255, 255, 0.84);
$white: white;
$linkColour:#337ab7;

//fonts
$font_0: Ubuntu;
$font_1: sans-serif;

.browsehappy {
	margin: 0.2em 0;
	background: $red;
	color: $black;
	padding: 0.2em 0;
}
html {
	overflow-y: scroll;
}
body {
	padding-top: 70px;
	background-color: $color_limed_spruce_approx;
	font-family: $font_0, $font_1;
}
p {
	font-size: 16px;
}
.header {
	position: absolute;
	width: 100%;
	top: 0;
	font-size: 16px;
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
		padding-bottom: 19px;
	}
}
.navbar {
	background-color: $color_log_cabin_approx;
}
.footer {
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	color: $color_gallery_approx;
	font-size: 16px;
	background-color: $color_log_cabin_approx;
	position: fixed;
	p {
		margin: 15px;
	}
    a{
        color:$linkColour;
    }
}
.card {
	background-color: $color_log_cabin_approx;
	color: $alabaster;
	font-size: 12pt;
    padding: 10px;
	.card-heading {
		background-color: $color_gossamer_approx;
		color: $white_84;
        padding:5px;
        margin-top: -20px;
        margin-left: -15px;
        margin-right: -15px;
		border-bottom: 1px solid transparent;
        font-family: $font_0;
        h2{
            margin-top:10px;
            margin-left:10px;
            
        }
        h3{
            font-size:26pt;
        }
	}
	.card-white {
		background-color: $color_gallery_approx;
		color: $black;
	}
    
}
.card-pad {
	margin-top: 60px;
}
.fixed-card {
	min-height: 543px;
}
.login-card {
	width: 100%;
	max-width: 400px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.margin-bottom-15 {
	margin-bottom: 100px;
}
.btn {
	background-color: $color_gossamer_approx;
	color: $white;
}
hr {
	background-color: $color_gossamer_approx;
}

img.login-logo {
	padding: 35px;
	height: 200px;
	width: 400px;
}

.no-bullets {
     margin-left:0;
     padding-left:0;
     
	li{
        list-style: none;
    }
    
}
.topbottomPadding{
    padding-top:15px;
    padding-bottom: 15px;
}