@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css";

//colors
$red: #ff0000;
$black: #000;
$color_limed_spruce_approx: #374755;
$color_log_cabin_approx: #212121;
$alabaster: #fafafa;
$primary: #007796;
$danger: #961F00;
$white_84: rgba(255, 255, 255, 0.84);
$white: #FFF;
$black: #000;

//fonts
$font_0: Ubuntu;
$font_1: sans-serif;

.browsehappy {
	margin: 0.2em 0;
	background: $red;
	color: $black;
	padding: 0.2em 0;
}
html {
	overflow-y: auto;
}
body {
	padding-top: 70px;
	background-color: $color_limed_spruce_approx;
	font-family: $font_0, $font_1;
}
p {
	font-size: 16px;
}
.header {
	position: absolute;
	width: 100%;
	top: 0;
	font-size: 16px;
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
		padding-bottom: 19px;
	}
}
.navbar {
	background-color: $color_log_cabin_approx;
	a {
		color: $white_84; 
	}
	a:hover { 
    	background-color: $color_limed_spruce_approx;
	}
	ul.nav a:hover{
		background-color: $color_log_cabin_approx;
		background-color: $color_limed_spruce_approx;
	}
	ul.nav active{
		background-color: $color_log_cabin_approx;
		background-color: $color_limed_spruce_approx;
	}
}

.footer {
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	color: $primary;
	font-size: 16px;
	background-color: $color_log_cabin_approx;
	position: fixed;
	p {
		margin: 15px;
	}
	.copyright{
		color:$white_84;
	}
    a{
        color:$white_84;
    }
}
.panel {
	background-color: $color_log_cabin_approx;
	color: $alabaster;
	font-size: 12pt;
    padding: 10px;
	.panel-heading {
		background-color: $primary;
		color: $white_84;
        padding:5px;
        margin-top: -20px;
        margin-left: -15px;
        margin-right: -15px;
		border-bottom: 1px solid transparent;
        font-family: $font_0;
        h2{
            margin-top:10px;
            margin-left:10px;
            
        }
        h3{
            font-size:26pt;
        }
	}
	
}
.panel-white {
		background-color: $white;
		color: black;
}
.panel-pad {
	margin-top: 60px;
}
.fixed-card {
	min-height: 543px;
}
.login-card {
	width: 100%;
	max-width: 400px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.margin-bottom-15 {
	margin-bottom: 100px;
}
.btn-primary {
	background-color: $primary;
	color: $white_84;
}
.btn-danger {
	background-color: $danger;
	color: $white_84;
}
hr {
	background-color: $primary;
}

img.login-logo {
	padding: 35px;
	height: 200px;
	width: 400px;
}

.no-bullets {
     margin-left:0;
     padding-left:0;
     
	li{
        list-style: none;
    }
    
}
.topbottomPadding{
    padding-top:15px;
    padding-bottom: 15px;
}
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.editor { 
	height: 500px;
	margin: 20px;
}
